<!DOCTYPE html>
<html>
  <head>
    <title>The Rag Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>'>
    <div id="banner">
<%= image_tag 'logo.svg', alt: 'The Rag Store' %>
<span class="title"><%= @page_title %></span>
</div>
<div id="columns">
<div id="side">

<ul>
<li><%= link_to 'Home',  store_index_path %></li>
<li><%= link_to 'Questions',  store_index_path %></li>
<li><%= link_to 'News',  store_index_path %></li>
<li><%= link_to 'Contact',  store_index_path %></li>
</ul>
<div id="cart">
  <% if @cart %>
  <%= render @cart %>
  <% end %>
</div>
</div>
<div id="main">
    <%= yield %>
  </div>
</div>
  </body>
</html>
